.table-services {
  /* width: auto; */
  margin: auto;
  border-spacing: 0px;
  background-color: yellow;
}

.table-services div,
.table-items div,
.new-item div {
  float: left;
  padding: 0;
}

.table-items {
  margin: auto;
}

/* .table-items div {
} */

.table-total {
  margin: auto;
  background-color: green;
}

.table-total div {
  padding: 0;
}

.new-item {
  margin: auto;
}

.new-item input {
  width: 100%;
}
