<app-invoice></app-invoice>

<div class="company-list">
  <h2>List of Companies</h2>

  <input type="text" placeholder="Search..." [(ngModel)]="searchText" />

  <div *ngIf="filteredCompanies.length === 0">No companies found.</div>

  <div *ngFor="let company of filteredCompanies" class="company-card">
    <div class="company-info">
      <h3 class="company-name">{{ company.name }}</h3>
      <div class="company-details">
        <p><strong>Fantasy Name:</strong> {{ company.fantasyName }}</p>
        <p><strong>Number:</strong> {{ company.number }}</p>
        <p>
          <strong>Address:</strong> {{ company.address1 }},
          {{ company.address2 }}
        </p>
        <p><strong>City:</strong> {{ company.city }}</p>
        <p><strong>State:</strong> {{ company.state }}</p>
        <p><strong>Country:</strong> {{ company.country }}</p>
        <p><strong>Zip Code:</strong> {{ company.zipCode }}</p>
        <p><strong>Phone:</strong> {{ company.phone }}</p>
        <p><strong>Email:</strong> {{ company.email }}</p>
      </div>
    </div>
  </div>
</div>
