server:
  port: 8761

spring:
  application:
    name: mi-service-registry

mi:
  serviceRegistry:
    username: serviceregistry
    password: vento123
  myinvoiceBack:
    username: mimyinvoiceback
    password: vento123

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    service-url:
      defaultZone: 'http://${mi.serviceRegistry.username}:${mi.serviceRegistry.password}@localhost:8761/eureka'
  instance:
    hostname: localhost

