<div class="container invoice">
  <div class="row">
    <div class="col-10">
      <h1 class="invoice-title">INVOICE</h1>
    </div>
    <div class="col-2">
      <div class="invoice-number">
        #{{ ("0000" + invoice.number).slice(-4) }}
      </div>
      <div class="invoice-date">{{ invoice.date }}</div>
    </div>
  </div>
</div>

<div class="container company">
  <div class="row">
    <div class="col-6">
      <div class="company-from">FROM</div>
      <div class="company-name">{{ company.name }}</div>
      <div class="company-number">{{ company.number }}</div>
      <div class="company-address">
        {{ company.address1 }}, {{ company.address2 }}
      </div>
      <div class="company-address">
        {{ company.city }}, {{ company.state }}, {{ company.country }},
        {{ company.zipCode }}
      </div>
      <div class="company-email">{{ company.email }}</div>
      <div class="company-phone">{{ company.phone }}</div>
    </div>
  </div>
</div>

<div class="container client">
  <div class="row">
    <div class="col-6">
      <div class="client-to">BILL TO</div>
      <div class="client-name">{{ client.name }}</div>
      <div class="client-number">{{ client.number }}</div>
      <div class="client-address">{{ client.address1 }}</div>
      <div class="client-address">
        {{ client.city }}, {{ client.state }}, {{ client.country }},
        {{ client.zipCode }}
      </div>
    </div>
  </div>
</div>

<div class="container table">
  <div class="row table-services">
    <div class="description">Description</div>
    <div class="hours">hours</div>
    <div class="price">Price</div>
    <div class="total">Total</div>
  </div>
  <div
    class="row table-items"
    *ngFor="let item of items"
    [ngClass]="{ 'fade-out': item.removing, 'fade-in': item.adding }"
  >
    <div class="description">{{ item.description }}</div>
    <div class="hours">{{ item.hours }}</div>
    <div class="price">${{ item.price }} {{ client.exchange }}</div>
    <div class="total">${{ (item.price * item.hours).toFixed(2) }}</div>
    <button class="remove-button" (click)="removeItem(item)">X</button>
  </div>
</div>

<div class="container new-item">
  <form #itemForm="ngForm" (ngSubmit)="addNewItem(); resetItem()">
    <div class="description">
      <input
        type="text"
        [(ngModel)]="item.description"
        name="description"
        #description="ngModel"
        required
      />
    </div>
    <div class="hours">
      <input
        type="number"
        [(ngModel)]="item.hours"
        name="hours"
        #hours="ngModel"
        required
      />
    </div>
    <div class="price">
      <input
        type="number"
        [(ngModel)]="item.price"
        name="price"
        #price="ngModel"
        required
      />
    </div>
    <div class="total">
      <button class="button" type="submit">✓</button>
    </div>
  </form>
</div>

<div class="container" *ngIf="show">
  <div class="row balance-due">
    <div class="col-10">Balance Due</div>
    <div class="col">
      ${{ subtotal }} {{ client.exchange }}
      <div class="col words-subtotal">
        ({{ wordsSubtotal }} American Dollars)
      </div>
    </div>
  </div>
</div>
