<div class="invoice">
  <div class="row">
    <div class="col-10">
      <h1 class="invoice-title">INVOICE</h1>
    </div>
    <div class="col-2">
      <!-- <div class="invoice-number">
        #{{ ("0000" + invoice.number).slice(-4) }}
      </div> -->
      <!-- <div class="invoice-date">{{ invoice.date }}</div> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="companyFilter">Select Company:</label>
    <select
      class="form-control"
      id="companyFilter"
      [(ngModel)]="selectedCompany"
    >
      <option *ngFor="let company of companies" [ngValue]="company">
        {{ company.name }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="clientFilter">Select Client:</label>
    <select class="form-control" id="clientFilter" [(ngModel)]="selectedClient">
      <option *ngFor="let client of clients" [ngValue]="client">
        {{ client.name }}
      </option>
    </select>
  </div>
</div>

<div class="company">
  <div class="row">
    <div class="col-6">
      <div class="company-from">FROM</div>
      <div class="company-name">{{ selectedCompany.name }}</div>
      <div class="company-number">{{ selectedCompany.number }}</div>
      <div class="company-address">
        {{ selectedCompany.address1 }}, {{ selectedCompany.address2 }}
      </div>
      <div class="company-address">
        {{ selectedCompany.city }}, {{ selectedCompany.state }},
        {{ selectedCompany.country }},
        {{ selectedCompany.zipCode }}
      </div>
      <div class="company-email">{{ selectedCompany.email }}</div>
      <div class="company-phone">{{ selectedCompany.phone }}</div>
    </div>
  </div>
</div>

<div class="client">
  <div class="row">
    <div class="col-6">
      <div class="client-to">BILL TO</div>
      <div class="client-name">{{ selectedClient.name }}</div>
      <div class="client-number">{{ selectedClient.number }}</div>
      <div class="client-address">{{ selectedClient.address1 }}</div>
      <div class="client-address">
        {{ selectedClient.city }}, {{ selectedClient.state }},
        {{ selectedClient.country }},
        {{ selectedClient.zipCode }}
      </div>
    </div>
  </div>
</div>

<div class="table">
  <div class="row table-services">
    <div class="description">Description</div>
    <div class="hours">hours</div>
    <div class="price">Price</div>
    <div class="total">Total</div>
  </div>
  <div
    class="row table-items"
    *ngFor="let item of invoice.items"
    ngClass="{ 'fade-out': item.removing, 'fade-in': item.adding }"
  >
    <div class="description">{{ item.description }}</div>
    <div class="hours">{{ item.hours }}</div>
    <div class="price">${{ item.price }} {{ selectedClient.exchange }}</div>
    <div class="total">${{ (item.price * item.hours).toFixed(2) }}</div>
    <button class="remove-button" (click)="removeItem(item)">X</button>
  </div>
</div>

<div class="new-item">
  <form #itemForm="ngForm" (ngSubmit)="addNewItem()">
    <div class="description">
      <input
        type="text"
        [(ngModel)]="newItem.description"
        name="description"
        #description="ngModel"
        required
      />
    </div>
    <div class="hours">
      <input
        type="number"
        [(ngModel)]="newItem.hours"
        name="hours"
        #hours="ngModel"
        required
      />
    </div>
    <div class="price">
      <input
        type="number"
        [(ngModel)]="newItem.price"
        name="price"
        #price="ngModel"
        required
      />
    </div>
    <div class="total">
      <button class="button" type="submit">✓</button>
    </div>
  </form>
</div>

<div *ngIf="show">
  <div class="row balance-due">
    <div class="col-10">Balance Due</div>
    <div class="col">
      ${{ subtotal }} {{ selectedClient.exchange }}
      <div class="col words-subtotal">
        ({{ wordsSubtotal }} American Dollars)
      </div>
    </div>
  </div>
</div>
