<app-invoice></app-invoice>

<h2>View Company</h2>

<div class="company-list">
  <div class="company-select">
    <label for="companySelect">Select Company:</label><br />
    <select
      id="companySelect"
      class="form-control"
      [(ngModel)]="selectedCompany"
    >
      <option *ngFor="let company of companies" [ngValue]="company">
        {{ company.name }}
      </option>
    </select>
  </div>

  <div class="company-card">
    <div class="company-info">
      <h3 class="company-name">{{ selectedCompany.name }}</h3>
      <div class="company-details">
        <p><strong>Fantasy Name:</strong> {{ selectedCompany.fantasyName }}</p>
        <p><strong>Number:</strong> {{ selectedCompany.number }}</p>
        <p>
          <strong>Address:</strong> {{ selectedCompany.address1 }},
          {{ selectedCompany.address2 }}
        </p>
        <p><strong>City:</strong> {{ selectedCompany.city }}</p>
        <p><strong>State:</strong> {{ selectedCompany.state }}</p>
        <p><strong>Country:</strong> {{ selectedCompany.country }}</p>
        <p><strong>Zip Code:</strong> {{ selectedCompany.zipCode }}</p>
        <p><strong>Phone:</strong> {{ selectedCompany.phone }}</p>
        <p><strong>Email:</strong> {{ selectedCompany.email }}</p>
      </div>
    </div>
  </div>
</div>
