.table-services {
  /* width: auto; */
  margin: auto;
  border-spacing: 0px;
  background-color: yellow;
}

.table-services div,
.table-items div,
.new-item div {
  float: left;
  padding: 0;
}

.table-services {
  text-align: center;
}

.description {
  text-align: left;
}

.total {
  text-align: right;
}

.table-items {
  margin: auto;
  text-align: center;
}

.table-items div {
  border: 1px solid gray;
}

.table-total {
  margin: auto;
  background-color: green;
}

.table-total div {
  padding: 0;
}

.new-item {
  margin: auto;
}

.new-item input {
  width: 100%;
}
