<div class="container table">
  <div class="row table-services">
    <div class="description">Description</div>
    <div class="quantity">Quantity</div>
    <div class="price">Unit Price</div>
    <div class="total">Total</div>
  </div>
  <div class="row table-items" *ngFor="let item of items">
    <div class="description">{{ item.description }}</div>
    <div class="quantity">{{ item.quantity }}</div>
    <div class="price">${{ item.price }} USD</div>
    <div class="total">${{ (item.price * item.quantity).toFixed(2) }}</div>
  </div>
</div>

<div class="container">
  <div class="row table-total" *ngIf="show">
    <div class="col-8">Remarks / Payment instructions:</div>
    <div class="col subtotal">SUBTOTAL</div>
    <div class="col subtotal">${{ subtotal }}</div>
  </div>
  <form #itemForm="ngForm" (ngSubmit)="addNewItem(); resetItem()">
    <label for="text">
      <input
        type="text"
        [(ngModel)]="item.description"
        name="description"
        #description="ngModel"
        required
      />
    </label>
    <label for="text">
      <input
        type="number"
        [(ngModel)]="item.quantity"
        name="quantity"
        #quantity="ngModel"
        required
      />
    </label>
    <label for="text">
      <input
        type="number"
        [(ngModel)]="item.price"
        name="price"
        #price="ngModel"
        required
      />
    </label>
    <button class="button" type="submit">Add Item</button>
  </form>
</div>

<div class="container" *ngIf="show">
  <div class="row balance-due">
    <div class="col-10">Balance Due</div>
    <div class="col">$1231</div>
  </div>
</div>
