body {
  margin: 0 auto;
  height: auto;
  width: 1024px;
}

nav a {
  margin-right: 10px;
}

.header,
.footer {
  background-color: #c72525;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 40px;
}
