body {
    margin: 0 auto;
    height: auto;
    width: 1024px;
    background-color: rgb(114, 114, 203);
    font-size: 20px;
}

.header, .footer {
    background-color: #c72525;
}

.header {
    margin-top: 30px;
    height: 30px;
}

.footer {
    margin-top: 30px;
}